In [1]:
import pandas as pd

In [2]:
muestra = pd.read_csv(r'C:\Users\pablo\Kaggle_Competition\data\muestra.csv',encoding='latin1')
salary_data = pd.read_csv(r'C:\Users\pablo\Kaggle_Competition\data\salaries_data.csv',encoding='latin1')
testeo = pd.read_csv(r'C:\Users\pablo\Kaggle_Competition\data\testeo.csv',encoding='latin1')

In [3]:
muestra

      id  salary_in_usd
0      0          70377
1      1          85839
2      2          63613
3      3          88561
4      4          37621
..   ...            ...
102  102          70639
103  103          33678
104  104          19021
105  105          21175
106  106          34801

[107 rows x 2 columns]

In [4]:
X  = salary_data.drop('salary_in_usd',axis = 1)
X_testeo = testeo.copy()

In [5]:
concat = pd.concat([X, X_testeo], axis = 0)

In [6]:
concat.shape

(607, 10)

In [7]:
concat.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,RO,0,US,L

In [8]:
concat.experience_level.unique()

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

In [9]:
# get dummies
concat = pd.get_dummies(concat, columns=['work_year', 'experience_level', 'employment_type', 'job_title',
         'employee_residence',
       'remote_ratio', 'company_location', 'company_size'])#, drop_first=True)
y = salary_data.salary_in_usd
concat.head()

,salary,salary_currency,work_year_2020,work_year_2021,work_year_2022,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,140250,USD,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,135000,USD,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
2,100000,USD,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
3,270000,USD,0,1,0,0,0,1,0,1,...,0,0,0,0,0,1,0,1,0,0
4,22000,EUR,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0

In [10]:
concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 0 to 106
Columns: 176 entries, salary to company_size_S
dtypes: int64(1), object(1), uint8(174)
memory usage: 117.4+ KB

In [11]:
concat.drop(columns='salary', inplace = True)
concat.drop(columns='salary_currency', inplace = True)

In [12]:
import pylab as plt
# import matplotlib.pyplot as plt

plt.rcParams['figure.figsize']=(15, 8)   # tamaño por defecto, decenas de pixeles

import seaborn as sns

In [13]:
import numpy as np

In [14]:
%pip install lazypredict

Requirement already satisfied: lazypredict in c:\users\pablo\anaconda3\lib\site-packages (0.2.12)
Requirement already satisfied: pandas in c:\users\pablo\anaconda3\lib\site-packages (from lazypredict) (1.4.2)
Requirement already satisfied: click in c:\users\pablo\anaconda3\lib\site-packages (from lazypredict) (8.0.4)
Requirement already satisfied: tqdm in c:\users\pablo\anaconda3\lib\site-packages (from lazypredict) (4.64.0)
Requirement already satisfied: xgboost in c:\users\pablo\anaconda3\lib\site-packages (from lazypredict) (1.7.1)
Requirement already satisfied: joblib in c:\users\pablo\anaconda3\lib\site-packages (from lazypredict) (1.1.0)
Requirement already satisfied: lightgbm in c:\users\pablo\anaconda3\lib\site-packages (from lazypredict) (3.3.3)
Requirement already satisfied: scikit-learn in c:\users\pablo\anaconda3\lib\site-packages (from lazypredict) (1.0.2)
Requirement already satisfied: colorama in c:\users\pablo\anaconda3\lib\site-packages (from click->lazypredict) (0.4.4)
Requirement already satisfied: numpy in c:\users\pablo\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.21.5)
Requirement already satisfied: scipy in c:\users\pablo\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.7.3)
Requirement already satisfied: wheel in c:\users\pablo\anaconda3\lib\site-packages (from lightgbm->lazypredict) (0.37.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pablo\anaconda3\lib\site-packages (from scikit-learn->lazypredict) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pablo\anaconda3\lib\site-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pablo\anaconda3\lib\site-packages (from pandas->lazypredict) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\pablo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->lazypredict) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from lazypredict.Supervised import LazyRegressor

from sklearn import datasets

from sklearn.utils import shuffle

import numpy as np

In [16]:
X_testeo = concat[-107:] # previamente hemos dropeado la columna objetivo salary_in_usd, antes de concat TESTEO
X = concat[:-107] # viene del archivo testeo donde no existe la columna salary_in_usd, antes de concat TRAIN

In [17]:
len(X)

500

In [18]:
len(X_testeo)

107

### 1º DETERMINAMOS X y Y

In [19]:
y = salary_data.salary_in_usd

In [20]:
X # salary_data

,work_year_2020,work_year_2021,work_year_2022,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
0,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,1,0
2,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
4,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,1,0
496,0,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
497,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
498,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
499,0,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0

### 2º SPLITEAMOS X y Y TRAIN, TEST

In [21]:
from sklearn.model_selection import train_test_split as tts

In [22]:
X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=22)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 174), (100, 174), (400,), (100,))

### 3º INICIAMOS MODELO

In [23]:
reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)

### 4º ENTRENAMOS

In [24]:
models, predictions = reg.fit(X_train, X_test, y_train, y_test)
print(models)

100%|██████████| 42/42 [00:10<00:00,  4.15it/s]

                                             Adjusted R-Squared  \
Model
Lars                          110039332891765873330383486976.00
RANSACRegressor                 1988546224452773607441956864.00
TransformedTargetRegressor       943825230167615707688206336.00
LinearRegression                 943825230167615707688206336.00
KernelRidge                                                7.79
MLPRegressor                                               6.93
LinearSVR                                                  6.92
GaussianProcessRegressor                                   3.64
SGDRegressor                                               3.04
Lasso                                                      3.03
Ridge                                                      2.93
RidgeCV                                                    2.76
HuberRegressor                                             2.67
OrthogonalMatchingPursuit                                  2.44
LassoLars                                                  2.39
DummyRegressor                                             2.35
PoissonRegressor                                           2.35
NuSVR                                                      2.32
QuantileRegressor                                          2.32
SVR                                                        2.32
ElasticNetCV                                               2.24
KNeighborsRegressor                                        1.95
LarsCV                                                     1.95
BayesianRidge                                              1.95
AdaBoostRegressor                                          1.89
LassoLarsIC                                                1.89
LassoLarsCV                                                1.75
LassoCV                                                    1.71
ElasticNet                                                 1.69
PassiveAggressiveRegressor                                 1.66
HistGradientBoostingRegressor                              1.66
LGBMRegressor                                              1.66
TweedieRegressor                                           1.63
DecisionTreeRegressor                                      1.62
XGBRegressor                                               1.62
ExtraTreeRegressor                                         1.62
OrthogonalMatchingPursuitCV                                1.61
ExtraTreesRegressor                                        1.61
GammaRegressor                                             1.58
RandomForestRegressor                                      1.53
BaggingRegressor                                           1.52
GradientBoostingRegressor                                  1.51

                                                      R-Squared  \
Model
Lars                          -83363130978610499969940979712.00
RANSACRegressor                -1506474412464222413221003264.00
TransformedTargetRegressor      -715019113763345237261942784.00
LinearRegression                -715019113763345237261942784.00
KernelRidge                                               -4.14
MLPRegressor                                              -3.49
LinearSVR                                                 -3.48
GaussianProcessRegressor                                  -1.00
SGDRegressor                                              -0.54
Lasso                                                     -0.54
Ridge                                                     -0.47
RidgeCV                                                   -0.34
HuberRegressor                                            -0.26
OrthogonalMatchingPursuit                                 -0.09
LassoLars                                                 -0.05
DummyRegressor                                            -0.03
PoissonRegressor                                          -0.02
NuSVR                                                     -0.00
QuantileRegressor                                         -0.00
SVR                                                       -0.00
ElasticNetCV                                               0.06
KNeighborsRegressor                                        0.28
LarsCV                                                     0.28
BayesianRidge                                              0.28
AdaBoostRegressor                                          0.32
LassoLarsIC                                                0.33
LassoLarsCV                                                0.43
LassoCV                                                    0.46
ElasticNet                                                 0.48
PassiveAggressiveRegressor                                 0.50
HistGradientBoostingRegressor                              0.50
LGBMRegressor                                              0.50
TweedieRegressor                                           0.52
DecisionTreeRegressor                                      0.53
XGBRegressor                                               0.53
ExtraTreeRegressor                                         0.53
OrthogonalMatchingPursuitCV                                0.53
ExtraTreesRegressor                                        0.53
GammaRegressor                                             0.56
RandomForestRegressor                                      0.60
BaggingRegressor                                           0.60
GradientBoostingRegressor                                  0.61

                                                 RMSE  Time Taken
Model
Lars                          16291113946921545728.00        0.09
RANSACRegressor                2190002710200180992.00        0.50
TransformedTargetRegressor     1508768465001197824.00        0.03
LinearRegression               1508768465001197824.00        0.02
KernelRidge                                 127924.92        0.03
MLPRegressor                                119551.69        0.83
LinearSVR                                   119456.81        0.02
GaussianProcessRegressor                     79840.18        0.10
SGDRegressor                                 70119.90        0.04
Lasso                                        70017.93        0.11
Ridge                                        68303.85        0.02
RidgeCV                                      65204.83        0.03
HuberRegressor                               63428.14        0.12
OrthogonalMatchingPursuit                    58966.86        0.03
LassoLars                                    57916.79        0.05
DummyRegressor                               57158.06        0.02
PoissonRegressor                             57042.97        0.05
NuSVR                                        56439.07        0.04
QuantileRegressor                            56432.66        2.85
SVR                                          56425.52        0.05
ElasticNetCV                                 54755.69        0.15
KNeighborsRegressor                          47864.61        0.02
LarsCV                                       47864.21        0.31
BayesianRidge                                47825.23        0.05
AdaBoostRegressor                            46431.16        0.09
LassoLarsIC                                  46218.26        0.06
LassoLarsCV                                  42563.18        0.17
LassoCV                                      41374.47        0.73
ElasticNet                                   40863.69        0.02
PassiveAggressiveRegressor                   39868.62        0.32
HistGradientBoostingRegressor                39752.58        1.61
LGBMRegressor                                39752.58        0.08
TweedieRegressor                             38964.87        0.02
DecisionTreeRegressor                        38784.68        0.02
XGBRegressor                                 38569.96        0.18
ExtraTreeRegressor                           38567.93        0.02
OrthogonalMatchingPursuitCV                  38510.80        0.05
ExtraTreesRegressor                          38486.20        0.48
GammaRegressor                               37366.44        0.03
RandomForestRegressor                        35814.96        0.38
BaggingRegressor                             35515.33        0.06
GradientBoostingRegressor                    35017.31        0.20

### MODELO : RANDOM FOREST REGRETION

In [25]:
from sklearn.ensemble import RandomForestRegressor as Rfr

In [26]:
X_train

,work_year_2020,work_year_2021,work_year_2022,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,...,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_L,company_size_M,company_size_S
94,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,1,0
350,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
288,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
420,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
163,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
448,1,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
300,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
132,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
373,0,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [27]:
X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=22)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 174), (100, 174), (400,), (100,))

### Entrenamos

In [28]:
rfr = Rfr()  # iniciamos modelo

In [29]:
rfr.fit(X_train, y_train) # 2º ENTRENAR los valores train >>>> modelo.fit(x_train, y_train) ++++ X TRAIN +++++

RandomForestRegressor()

In [30]:
y_pred_train=rfr.predict(X_train) # 3º CALCULAR Y PREDECIR  >>>'y_predecida' = modelo.predict(x_train)  ++++ X_Train ++++

In [31]:
y_pred_train[:10]

array([138653.96099206,  18795.05      , 356939.        , 138155.42      ,
        12698.41      , 153728.72826437, 126489.60238095, 114678.33499471,
        24385.908     , 159321.17373737])

In [32]:
len(y_pred_train)

400

In [33]:
y_pred_train = list(y_pred_train)
y_pred_train[:10]

[138653.96099206348,
 18795.05,
 356939.0,
 138155.42,
 12698.41,
 153728.72826437477,
 126489.60238095239,
 114678.33499471076,
 24385.908,
 159321.1737373737]

In [34]:
len(X_train)

400

### Testeamos

In [35]:
rfr.fit(X_train, y_train)

RandomForestRegressor()

In [36]:
y_pred_testeo=rfr.predict(X_testeo) # +++++ UTILIZAMOS LA MUESTRA DE TESTEO KAGGLE+++++++

In [37]:
y_pred_testeo[:10]

array([ 72086.40833333, 115017.54166667, 112099.26462963,  56931.21      ,
        28839.79      ,  67724.755     ,  74878.8425    ,  44117.26      ,
        40211.98      , 224301.41666667])

In [38]:
y_pred_testeo = list(y_pred_testeo)
y_pred_testeo[:10]

[72086.40833333334,
 115017.54166666666,
 112099.26462962963,
 56931.21,
 28839.79,
 67724.755,
 74878.8425,
 44117.26,
 40211.98,
 224301.4166666667]

In [39]:
len(y_pred_testeo)

107

### Comparamos el valor original en una data frame el valor original, la prediccion dle train y la del test

In [40]:
y

0      140250
1      135000
2      100000
3      270000
4       26005
        ...
495    100000
496      5882
497     90700
498     82528
499     70000
Name: salary_in_usd, Length: 500, dtype: int64

In [41]:
y_pred_testeo[:10]

[72086.40833333334,
 115017.54166666666,
 112099.26462962963,
 56931.21,
 28839.79,
 67724.755,
 74878.8425,
 44117.26,
 40211.98,
 224301.4166666667]

In [42]:
muestra

      id  salary_in_usd
0      0          70377
1      1          85839
2      2          63613
3      3          88561
4      4          37621
..   ...            ...
102  102          70639
103  103          33678
104  104          19021
105  105          21175
106  106          34801

[107 rows x 2 columns]

### añadir una columna al dataframe con un valor obtenido

In [43]:
muestra['salary_in_usd'] = y_pred_testeo

In [44]:
muestra

      id  salary_in_usd
0      0       72086.41
1      1      115017.54
2      2      112099.26
3      3       56931.21
4      4       28839.79
..   ...            ...
102  102      113904.60
103  103      199426.18
104  104      163464.17
105  105       62183.42
106  106      109991.69

[107 rows x 2 columns]

In [45]:
 muestra.shape

(107, 2)

### MSE & RMSE

In [46]:
from sklearn.metrics import mean_squared_error

In [47]:
import math

In [48]:
MSE = mean_squared_error(y_train, y_pred_train)
MSE

839592546.3245963

In [49]:
RMSE = math.sqrt(MSE)
RMSE

28975.7233960534

In [68]:
muestra['salary_in_usd'] = y_pred_testeo

In [69]:
muestra.to_csv(r'C:\Users\pablo\Kaggle_Competition\csv\muestra5.csv', sep=',', index=False)

### MODELO : GradientBoostingRegressor

In [70]:
from sklearn.datasets import make_regression

In [71]:
from sklearn.ensemble import GradientBoostingRegressor

ENTRENAMOS

In [72]:
boo = GradientBoostingRegressor() # INICIAMOS

In [73]:
boo.fit(X_train, y_train) # ENTRENAMOS el train

GradientBoostingRegressor()

In [74]:
y_pred_train=boo.predict(X_train) # PREDECIMOS el train

In [75]:
y_pred_train[:10]

array([147923.68638216,  14026.63068622, 381961.38244651, 136200.69269175,
        30024.83022737, 159468.17578828, 138453.47512834, 120713.93826297,
        36548.6199632 , 163534.75964507])

In [76]:
len(y_pred_train)

400

In [77]:
len(X_train)

400

TESTEAMOS

In [78]:
boo.fit(X_train, y_train)

GradientBoostingRegressor()

In [79]:
y_pred_testeo=boo.predict(X_testeo) # PREDECIMOS el TESTEO

In [80]:
y_pred_testeo[:10]

array([ 92166.81309686, 152541.23996206, 101817.94439158,  63111.91839199,
        39014.93991263,  85686.87173531, 113717.53354806,  43596.29455023,
        54743.08599342, 170358.31630663])

In [81]:
len(y_pred_testeo)

107

### DATAFRAME COMPARACION Y_TRAIN, Y_PRED_TRAIN

In [82]:
MSE = mean_squared_error(y_train, y_pred_train)
MSE

1171765564.638638

In [83]:
RMSE = math.sqrt(MSE)
RMSE

34231.061400994244

### convertir a csv

In [84]:
muestra.shape

(107, 2)

In [85]:
muestra

      id  salary_in_usd
0      0       87780.16
1      1      148797.13
2      2      101647.86
3      3       73150.38
4      4       41988.32
..   ...            ...
102  102      120713.94
103  103      188631.77
104  104      154151.36
105  105       52200.67
106  106      115233.20

[107 rows x 2 columns]